html {
  cursor: pointer;
}

body {
  margin: 0;
  background: #000 none no-repeat 50% 50%;
  user-select: none;

  &.animated {
    transition: transform 100ms ease-out;
  }
}

.loading {
  background-image: url('spinner.gif');
  cursor: wait;
}

.failed::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  color: #fff;
  content: 'Failed to load cute kitten picture :\'('
}

a {
  display: block;
}

img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  transform-origin: 50% 50%;
  transition: transform ease-out 200ms, opacity ease-out 1000ms, filter ease-out 1000ms;
  pointer-events: none;
}

img:not([src]) {
  display: none;
}

.loading img {
  opacity: 0;
  transform: scale(0.0001) rotate(60deg);
  filter: blur(10px);
}

#btn-fullscreen {
  display: none; // displayed only when .fullscreen-enabled is set
  cursor: pointer;
  opacity: 0.2;
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: rgba(0,0,0,0.15) url(fullscreen-on.svg) no-repeat top left;
  box-shadow: 0 0 32px 4px rgba(0,0,0,0.2);
  color: #fff;
  width: 32px;
  height: 32px;
  text-indent: -1000px;
  overflow: hidden;
  background-size: 100%;
  transition: opacity 250ms ease-out;

  &:hover,
  &:focus,
  &:target {
    outline: none;
    opacity: 1;
  }

  @at-root {
    .fullscreen-enabled & {
      display: block;
    }

    .fullscreen & {
      background-image: url(fullscreen-off.svg);
    }
  }
}

@media screen and (orientation:landscape) {
  .fullscreen img {
    object-fit: cover;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .loading {
    background-size: auto 48px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .loading {
    background-size: auto 32px;
  }
}
